.details {
    background-color: #444;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.details .title-details {
    color: chartreuse;
    margin-bottom: 10px;
    font-size: 20px;
}

.details .description {
    color: #222;
    font-weight: 600;
    font-size: 18px;
}